@import "../custom.css";

.bi-not-found{
    text-align: center;
    font-family: var(--fontFamily);
    width: 400px;
    height: 400px;
}
.bi-not-found_buttons_home{
    margin-right: 120px; 
}

.bi-not-found_title{
    font-size: 16px;
    color: var(--dark1);
    padding-left: 90px;
    text-align: left;
}
.bi-not-found_reason{
    font-size: 12px;
    margin-top:8px;
    color: var(--dark4);
    padding-left: 90px;
    text-align: left;
}