@import "../custom.css";

.ant-select {
    margin: 0 0 0 12px;
}

.ant-select-selection {
    background: var(--light1);
    border: 1px solid var(--dark1);
    border-radius: 5px;
    border-radius: 5px;
}

.ant-select-selection:hover {
    border-color: var(--buttonHover);
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: var(--buttonClicked);
}

.ant-select-selection__rendered {
    line-height: 40px;
}

.ant-select-selection--single {
    height: 40px;
    line-height: 40px;
}

.ant-select-selection--multiple > ul > li {
  margin-top: 3px;
  height: 34px;
  line-height: 32px;
}

.ant-select-arrow {
    color: rgba(0, 0, 0);
    font-size: 14px;
}

.ant-select-dropdown-menu-item:hover {
    background-color: rgba(0,113,242,0.10);
}

.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-selected:hover {
    background-color: rgba(0,113,242,0.10);
}